@using LibrarySystem.Shared.PublicationData
@model List<PublicationDetails>
<h1>Hello Publication Index</h1>
<a asp-controller="Publication" asp-action="AddPublication" class="btn btn-primary">Add Publication</a>

@{
    string tempDataMessage = TempData["isSuccess"] as string;
    if (tempDataMessage == "YES")
    {
        <span class="text-success">@TempData["Message"]</span>
    }
    else
    {
        <span class="text-danger">@TempData["Message"]</span>
    }
}

<form method="get" asp-controller="Publication" asp-action="Index" >
    <br> <div class="row mb-3">
        <div class="col-md-4">
            <input type="text"
                   name="searchText"
                   value="@Context.Request.Query["searchText"]"
                   class="form-control" 
                   placeholder="Search publication name..." />
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">
                Search
            </button>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>SN</th>
                <th>Publication Id</th>
                <th>Publication Name</th>
                <th>Publication Contact Person Name</th>
                <th>Publication Contact</th>
                <th>Publication Email</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var publication in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@publication.PublicationId</td>
                        <td>@publication.PublicationName</td>
                        <td>@publication.PContactPersonName</td>
                        <td>@publication.PContactPhone</td>
                        <td>@publication.PublicationEmail</td>

                        <td><a class="btn btn-primary btn-sm" asp-controller="Publication" asp-action="EditPublication" asp-route-id="@publication.PublicationId">Edit</a></td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>