@using LibrarySystem.Shared.AuthorData
@model List<AuthorDetails>
<h1>Hello Author Index</h1>
<a asp-controller="Author" asp-action="AddAuthor" class="btn btn-primary">Add Authors</a>

@{
    string tempDataMessage = TempData["isSuccess"] as string;
    if (tempDataMessage == "YES")
    {
        <span class="text-success">@TempData["Message"]</span>
    }
    else
    {
        <span class="text-danger">@TempData["Message"]</span>
    }
}


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>SN</th>
                <th>Author First Name</th>
                <th>Author Middle Name</th>
                <th>Author Last Name</th>
                <th>Author Date of Birth</th>
                <th>Bio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var author in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@author.FirstName</td>
                        <td>@author.MiddleName</td>
                        <td>@author.LastName</td>
                        <td>@author.DateOfBirth</td>
                        <td>@author.Bio</td>
                        <td><a class="btn btn-primary btn-sm" asp-controller="Author" asp-action="EditAuthor" asp-route-id="@author.AuthorId">Edit</a></td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
