@using LibrarySystem.Shared.CategoryData
@model List<CategoryDetails>
<h1>Hello Category Index</h1>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>SN</th>
                <th>Category Id</th>
                <th>Category Name</th>
                <th>Category Description</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var category in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td><a class="btn btn-primary btn-sm" asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.">Edit</a></td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>