@using LibrarySystem.Repository.Models
@model List<LibraryLocationDetails>
<h1>Hello Location Index</h1>
<a asp-controller="Location" asp-action="AddLocation" class="btn btn-primary">Add Location</a>

@{
    string tempDataMessage = TempData["isSuccess"] as string;
    if(tempDataMessage == "YES")
    {
        <span class="text-success">@TempData["Message"]</span>
    }
    else
    {
        <span class="text-danger">@TempData["Message"]</span>
    }
}


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>SN</th>
                <th>Location Id</th>
                <th>Aisle</th>
                <th>Shelf</th>
                <th>Section</th>
                <th>Floor</th>
                <th>Description</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach(var library in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@library.LocationId</td>
                        <td>@library.Aisle</td>
                        <td>@library.Shelf</td>
                        <td>@library.Section</td>
                        <td>@library.Floor</td>
                        <td>@library.Description</td>
                        <td><a class="btn btn-primary btn-sm" asp-controller="Location" asp-action="EditLocation" asp-route-id="@library.LocationId">Edit</a></td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>